<ul class="pagination">
  <li
    class="page-item"
    [ngClass]="currentPage === 0 && paginated.length > 1 ? 'disabled': ''"
  >
    <button
      class="page-link"
      aria-label="Previous"
      (click)="goToPage(currentPage - 1)"
    >
      <span aria-hidden="true">&laquo;</span>
    </button>
  </li>
  <li
    *ngFor="let i of paginationPages"
    [attr.data-index]="i"
    class="page-item"
    [ngClass]="currentPage === i ? 'active': ''"
  >
    <button
      class="page-link"
      (click)="goToPage(i)"
    >
      {{ i + 1 }}
    </button>
  </li>
  <li
    class="page-item"
    [ngClass]="currentPage === paginated.length - 1 && paginated.length > 1 ? 'disabled': ''"
  >
    <button
      class="page-link"
      aria-label="Next"
      (click)="goToPage(currentPage + 1)"
    >
      <span aria-hidden="true">&raquo;</span>
    </button>
  </li>
</ul>
