.project-header {
  margin-top: 30px;
}

.project-header select {
  margin-bottom: 10px;
}

.loader {
  min-height: 100px;
}

.pagination {
  justify-content: center;
}

.project-files {
  min-height: 250px;
}
