<div class="row project-header">
  <div class="col-md-9">
    <h4 class="title">
      <i *ngIf="project.visibility === 'private'" class="bi bi-lock"></i>
      <i *ngIf="project.visibility === 'public'" class="bi bi-globe"></i>
      <a [href]="project.web_url" target="_blank">
        {{ project.name_with_namespace }}
      </a>
    </h4>
  </div>
  <div *ngIf="project.branches !== undefined" class="col-md-3">
    <span *ngIf="project.branches.length === 0">No branches</span>
    <select *ngIf="project.branches.length > 0" [ngModel]="selectedBranch" (ngModelChange)="onSelectBranch($event)" class="form-control" aria-label="Default select example">
      <option *ngFor="let branch of project.branches" [ngValue]="branch">{{ branch.name }}</option>
    </select>
  </div>
</div>

<app-loader [display]="files === undefined && searchedFiles === undefined"></app-loader>

<div *ngIf="searchedFiles !== undefined && searchedFiles.length > 0" class="list-group">
  <div class="project-files">
    <app-file
      *ngFor="let file of paginated"
      [projectId]="project.id"
      [file]="file"
      [selectedBranch]="selectedBranch">
    </app-file>
  </div>
  <app-pagination
    [arrToPaginate]="searchedFiles"
    [perPage]="5"
    (slicedArr)="onPaginate($event)"
  ></app-pagination>
</div>

<app-search-file
  *ngIf="(!!files && files.length > 0) && (searchFileName === undefined || searchFileName === '')">
</app-search-file>
<app-no-file-found
  *ngIf="!!searchedFiles && searchedFiles.length === 0">
</app-no-file-found>
<app-empty-project
  *ngIf="!!files && files.length === 0">
</app-empty-project>
