<div class="row how-to-use">
  <div class="col-md-12 col-sm-12">
    <h5>How to search:</h5>
    <ol>
      <li>Go to <a href="#" routerLink="home">Home Page</a></li>
      <li>Projects listed are the existing projects of the user configured in the project.</li>
      <li>Input a text in the textbox to search for files.</li>
      <li>In the search results, hover a file to see the details of its last commit.</li>
      <li>You can also select a branch on where you want to search a file.</li>
    </ol>
    <img [src]="'assets/about.png'" id="how-to-use" class="img-fluid" alt="How to search" />
  </div>
</div>
<div class="row ui-components">
  <div class="col-lg-6 col-md-12 col-sm-12">
    <h5>UI Components:</h5>
    <ol>
      <li>
        <b>Loading</b> - Indicates that the app is fetching data from the API.
        <app-loader [display]="true"></app-loader>
      </li>
      <li>
        <b>Search a file</b> - App has data and is now ready for searching.
        <app-search-file></app-search-file>
      </li>
      <li>
        <b>No file found</b> - App did not found any corresponding file.
        <app-no-file-found></app-no-file-found>
      </li>
      <li>
        <b>Empty project</b> - The project is empty or has no files.
        <app-empty-project></app-empty-project>
      </li>
      <li>
        <b>Commit detail</b> - Where the heading is the commit message and other details below on it.
        <img [src]="'assets/popover.png'" id="popover" class="img-fluid" alt="Commit detail" />
      </li>
    </ol>
  </div>
</div>
