<div class="mb-3">
  <app-search (searchFile)="onSearchFile($event)"></app-search>
</div>

<app-loader [display]="projects === undefined"></app-loader>

<ng-template [ngIf]="projects !== undefined">
  <app-project *ngFor="let project of projects" [project]="project" [searchFileName]="searchFileName"></app-project>
</ng-template>
