<ng-template #popTitle>
  <span *ngIf="commitDetail">
    {{ commitDetail.message }}
  </span>
</ng-template>
<ng-template #popContent>
  <app-loader [display]="!commitDetail"></app-loader>
  <ng-template [ngIf]="commitDetail">
    <p class="mb-0"><b>ID:</b> {{ commitDetail.id }}</p>
    <p class="mb-0"><b>Author:</b> {{ commitDetail.committer_name }}</p>
    <p class="mb-0"><b>Date:</b> {{ commitDetail.committed_date | date:'short' }}</p>
  </ng-template>
</ng-template>
<button
  class="list-group-item list-group-item-action"
  [ngbPopover]="popContent"
  [popoverTitle]="popTitle"
  triggers="manual"
  #p1="ngbPopover"
  (click)="onMouseOver(p1, file.type)"
  (mouseenter)="onMouseOver(p1, file.type)"
  (mouseleave)="onMouseOut(p1)"
>
  <i class="bi {{ fileTypeIcons[file.type] }}"></i> {{ file.path }}
</button>
